{% extends "FP/layout.html" %}

{% block body %}
<div class="itinerary">

  <div class="row">

      <nav id="navbar-example3" class="col navbar navbar-light bg-light" style="padding-top: 1rem;">
        <nav class="nav nav-pills flex-column">
          <a class="nav-link" href="#day-1">Day 1</a>
          <nav class="nav nav-pills flex-column" sytle="padding-left: 0.5rem;">
            <a class="nav-link ml-3 my-1" href="#day-1-1">Day 1-1</a>
            {% if transport == 'Flight' %}
            <a class="nav-link ml-3 my-1" href="#day-1-2">Day 1-2</a>
            <a class="nav-link ml-3 my-1" href="#day-1-3">Day 1-3</a>
            {% else %}

            <a class="nav-link ml-3 my-1" href="#day-1-3">Day 1-2</a>
            {% endif %}
            
          </nav>
          <a class="nav-link" href="#day-2">Day 2</a>
          <nav class="nav nav-pills flex-column" sytle="padding-left: 0.5rem;">
            <a class="nav-link ml-3 my-1" href="#day-2-1">Day 2-1</a>
            <a class="nav-link ml-3 my-1" href="#day-2-2">Day 2-2</a>
            <a class="nav-link ml-3 my-1" href="#day-2-3">Day 2-3</a>
            <a class="nav-link ml-3 my-1" href="#day-2-4">Day 2-4</a>
          </nav>
          <a class="nav-link" href="#day-3">Day 3</a>
          <nav class="nav nav-pills flex-column" sytle="padding-left: 0.5rem;">
            <a class="nav-link ml-3 my-1" href="#day-3-1">Day 3-1</a>
            {% if day_3_2 %}
            <a class="nav-link ml-3 my-1" href="#day-3-2">Day 3-2</a>
            {% endif %}
            {% if days == '4D3N' %}
            <a class="nav-link ml-3 my-1" href="#day-2-3">Day 3-3</a>
          </nav>
          <a class="nav-link" href="#day-4">Day 4</a>
          <nav class="nav nav-pills flex-column" sytle="padding-left: 0.5rem;">
            <a class="nav-link ml-3 my-1" href="#day-4-1">Day 4-1</a>
            {% if day_4_2 %}
            <a class="nav-link ml-3 my-1" href="#day-4-2">Day 4-2</a>
            {% endif %}
          </nav>
          {% endif %}
        </nav>
      </nav>
    

    <div data-spy="scroll" data-target="#navbar-example3" data-offset="0" class="col-sm-9" style="padding:0; padding-top: 1rem; margin:0; margin-left:25%; gap:0;">
      <div class="row align-items-end justify-content-between">
        <h2 class="col-10" style="background:linear-gradient(to top, #99CEDC 20%, rgb(255,255,255,0) 25%)">Here’s the itinerary designated for you~ </h2>
        <div class="col-2 justify-content-bottom">
            <div class="chkbox justify-content-center" style="align-items:center;width:45px;">Save</div>
        </div>
      </div>
      <div style="border-radius:2.5rem; border:1px solid; text-align:center; width:5rem;">Start</div>
      <div style="padding-left:3rem;">
        <div class="iti_1">
          <h4  id="day-1">Day 1</h4>
          <div id="day-1-0">
            <h5> &lsqb;Day 1&rsqb; Get Rental Car/Motorbike</h5>
            <div class="iti_cont" >
                 <p>Car rental services are available here, with several agencies operating in or near the terminal. To save time, consider booking a car in advance through online platforms and arranging for a pickup or drop-off service at the airport.</p> 
            </div>
          </div>
          <div id="day-1-1">
            <h5> &lsqb;Day 1&rsqb; Skybridge</h5>
            <div class="iti_cont" >
              <div class="iti_pic"><img src="..\..\static\FP\skybridge.jpg"></img></div>
              <div class="iti_info">
               <ul> 
                 <li>Expect some queue for SkyCab (cable car).</li> 
                 <li>To access SkyBridge, you need to purchase a separate ticket for SkyGlide (RM16), or you can choose to walk for a short 10 minutes.</li> 
               </ul>
                <br>
                <p>Visit <a href="https://panoramalangkawi.com/">here</a> to know more</p>
              </div>
            </div>
          </div>

          <div>
            <div class="iti_nav" data-to="{{ day_1_2_info.location }}" data-from="(99.66233111839779, 6.389893788672241)" onload="duration(this);">
              <span></span>
            </div>
          </div>
          {% if day_1_2 %}
          <div id="day-1-2">
            <h5> &lsqb;Day 1&rsqb; {{day_1_2}}</h5>
            <div class="iti_cont" >
              <div class="iti_pic"><img src="{{ day_1_2_info.img }}"></div>
              <div class="iti_info">
                 {{ day_1_2_info.remarks | safe}}
              </div>
            </div>
          </div>
          {% endif %}
          <div>
            <div class="iti_nav" data-to="(99.85261238773789, 6.3211691916194095)" data-from="{{ day_1_2_info.location }}" onload="duration(this);">
              <span></span>
             </div>
          </div>
          <div id="day-1-3">
            <h5>&lsqb;Day 1&rsqb; Kuah Town Night Market</h5>
            <div class="iti_cont" >
              <div class="iti_pic"><img src="..\..\static\FP\kuah_town.jpg"></div>
              <div class="iti_info">
                 <p>The Kuah Town Night Market in Langkawi, Malaysia, is centrally located near Dataran Lang (Eagle Square). It offers a variety of Malaysian street food, seafood, and local delicacies. Parking can be found nearby, and the market also features stalls selling handicrafts, souvenirs, clothing, and artwork. It's a bustling spot for both tourists and locals alike, open in the evenings until around 10 or 11 PM.</p>
              </div>
            </div>
          </div>
          <h4  id="day-2">Day 2</h4>
          <div id="day-2-1">
            <h5>&lsqb;Day 2&rsqb; Island Hopping</h5>
            <div class="iti_cont" >
              <div class="iti_pic"><img src="..\..\static\FP\hopping.jpg"></div>
              <div class="iti_info">
               <p>Island hopping in Langkawi is a popular activity where visitors explore the archipelago's stunning islands and attractions. It typically involves taking boat tours to visit places like Pulau Dayang Bunting (Isle of the Pregnant Maiden), known for its picturesque lake where visitors can swim and the iconic eagle feeding sessions at Pulau Singa Besar (Big Lion Island). Other stops often include Pulau Beras Basah (Wet Rice Island) for its beautiful beaches and snorkeling spots. These trips offer a chance to experience Langkawi's natural beauty, marine life, and unique landmarks.</p>
                <br>
                <ul> 
                  <li>Can book via online</li> <li>Fees do not include entrance fee</li> <li>Can swim at Dayang Lake (life jacket RM5) and kayak (around RM10)</li> 
                  <li>Typically spend 3-4 hours</li> 
                  <li>Price: RM35-40 per person</li> 
                </ul>
              </div>
            </div>
          </div>
          {% if day_2_2 %}
          <div>
            <div class="iti_nav" data-to="{{ day_2_2_info.location }}" data-from="{{ day_1_2_info.location }}" onload="duration(this);">
              <span></span>
             </div>
          </div>
          <div id="day-2-2">
            <h5>&lsqb;Day 2&rsqb; {{day_2_2}}</h5>
            <div class="iti_cont" >
              <div class="iti_pic"><img src="{{ day_2_2_info.img }}"></div>
              <div class="iti_info">
                  {{ day_2_2_info.remarks | safe }}
              </div>
            </div>
          </div>
          <div>
            <div class="iti_nav" data-to="(99.72859646446868, 6.287909057288869)" data-from="{{ day_1_2_info.location }}" onload="duration(this);">
              <span></span>
             </div>
          </div>
          {% else %}
          <div>
            <div class="iti_nav" data-to="(99.72859646446868, 6.287909057288869)" data-from="(6.267882771736697, 99.73496958089444)" {% endif%} onload="duration(this);">
              <span></span>
             </div>
          </div>
          {% endif %}
          <div id="day-2-3">
            <h5>&lsqb;Day 2&rsqb; Underwater World Langkawi</h5>
            <div class="iti_cont" >
              <div class="iti_pic"><img src="..\..\static\FP\underwater.jpg"></div>
              <div class="iti_info">
                <p>Underwater World Langkawi is an ideal attraction for visitors of all ages. It features a captivating underwater tunnel where you can walk through while surrounded by marine life such as sharks, stingrays, and colorful fish. The aquarium also offers feeding sessions where you can witness marine creatures being fed, providing an educational and interactive experience. Whether you're a family with children or an adult, Underwater World Langkawi promises a memorable visit with its diverse exhibits and engaging activities.</p>
                <br>
                <p><strong>Feeding times:</strong></p> 
                <ul> 
                  <li>2:30pm - Seals (except Fridays at 4:00pm)</li> 
                  <li>2:45pm - African Penguins</li> 
                  <li>3:00pm - Rockhopper Penguins</li> 
                  <li>3:30pm - Tunnel Tank</li> 
                  <li>4:15pm - Otter</li> 
                </ul>
                <p>Links:</p>
                <ul>
                  <li><a href="https://www.underwaterworldlangkawi.com/">Official Website</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div>
            <div class="iti_nav" data-to="(99.72475234036953, 6.293717602262462)" data-from="(99.72859646446868, 6.287909057288869)" {% endif%} onload="duration(this);">
              <span></span>
             </div>
          </div>
          <div id="day-2-4">
            <h5>&lsqb;Day 2&rsqb; Pantai Cenang</h5>
            <div class="iti_cont" >
              <div class="iti_pic"><img src="..\..\static\FP\cenang.jpg"></div>
              <div class="iti_info">
                <p>Pantai Cenang in Langkawi offers stunning sunsets that are a highlight for visitors. As the day winds down, many gather along the beachfront to witness the vibrant colors of the setting sun against the horizon.
                  <br>

                  In terms of nightlife, Pantai Cenang has a lively scene with beach bars, pubs, and restaurants that come alive after dark. You can enjoy a variety of options from relaxed beachfront lounges offering cocktails and live music to more upbeat venues with DJs and dancing. The nightlife here caters to different tastes, whether you're looking for a laid-back evening by the sea or a more energetic atmosphere to socialize and unwind.</p>

              </div>
            </div>
          </div>
          <!-- 3d2n -->
          {% if days == '3D2N' %}
          <h4  id="day-3">Day 3</h4>
          <div id="day-3-1">
            <h5>&lsqb;Day 3&rsqb; {{ day_3_1 }}</h5>
            <div class="iti_cont" >
              <div class="iti_pic"><img src="{{ day_3_1_info.img }}"></div>
              <div class="iti_info">
                {{ day_3_1_info.remarks | safe }}
              </div>
            </div>
          </div>
            {% if day_3_2 %}
          <div>
            <div class="iti_nav" data-to="{{ day_3_2_info.location }}" data-from="{{ day_3_1_info.location }}" {% endif%} onload="duration(this);">
              <span></span>
             </div>
          </div>
           <div id="day-3-2">
            <h5>&lsqb;Day 3&rsqb; {{day_3_2}}</h5>
            <div class="iti_cont" >
              <div class="iti_pic"><img src="{{ day_3_2_info.img }}"></div>
              <div class="iti_info">
                  {{ day_3_2_info.remarks | safe }}
              </div>
            </div>
           </div>
            {% endif %}

          <!-- 4D3N -->
          {% else %}
          <h4  id="day-3">Day 3</h4>
          <div id="day-3-1">
            <h5>&lsqb;Day 3&rsqb; {{day_3_1}}</h5>
            <div class="iti_cont" >
              <div class="iti_pic"><img src="{{ day_3_1_info.img }}"></div>
              <div class="iti_info">
                  {{ day_3_1_info.remarks | safe }}
              </div>
            </div>
          </div>
          
          <div>
            <div class="iti_nav" data-to="{{ day_3_2_info.location }}" data-from="{{ day_3_1_info.location }}" {% endif%} onload="duration(this);">
              <span></span>
             </div>
          </div>
  
           <div id="day-3-2">
            <h5>&lsqb;Day 3&rsqb; {{day_3_2}}</h5>
            <div class="iti_cont" >
              <div class="iti_pic"><img src="{{ day_3_2_info.img }}"></div>
              <div class="iti_info">
                  {{ day_3_2_info.remarks | safe }}
              </div>
            </div>
           </div>

           <div>
            <div class="iti_nav" data-to="{{ day_3_3_info.location }}" data-from="{{ day_3_2_info.location }}" {% endif%} onload="duration(this);">
              <span></span>
             </div>
          </div>

          <div id="day-3-3">
            <h5>&lsqb;Day 3&rsqb; {{day_3_3}}</h5>
            <div class="iti_cont" >
              <div class="iti_pic"><img src="{{ day_3_3_info.img }}"></div>
              <div class="iti_info">
                {{ day_3_3_info.remarks | safe }}
              </div>
            </div>
          </div>


          <!-- Day 4 -->
           <h4  id="day-4">Day 4</h4>
          <div id="day-4-1">
            <h5>&lsqb;Day 4&rsqb; {{ day_4_1 }}</h5>
            <div class="iti_cont" >
              <div class="iti_pic"><img src="{{ day_4_1_info.img }}"></div>
              <div class="iti_info">
                {{ day_4_1_info.remarks | safe }}
              </div>
            </div>
          </div>
          {% if day_4_2 %}
           <div>
            <div class="iti_nav" data-to="{{ day_4_2_info.location }}" data-from="{{ day_4_1_info.location }}" {% endif%} onload="duration(this);">
              <span></span>
             </div>
          </div>
           <div id="day-4-2">
            <h5>&lsqb;Day 4&rsqb; {{ day_4_2 }}</h5>
            <div class="iti_cont" >
              <div class="iti_pic"><img src="{{ day_4_2_info.img }}"></div>
              <div class="iti_info">
                {{ day_4_2_info.remarks | safe }}
              </div>
            </div>
           </div>
            {% endif %}
          {% endif %}
          
        </div>
      </div>
      <div style="border-radius:2.5rem; border:1px solid; text-align:center; width:5rem;">End</div>

    </div>
  </div>
</div>

{% endblock %}
