{% extends "FP/layout.html" %}

{% block body %}
<div class="centered">
    
    <form action="" method="post" name="m-step" id="m-step">
        {% csrf_token %}
        <div class="tab">
            <h2 style="font-family: Brush Script MT, Brush Script Std, cursive; text-align: center;">What do you prefer?</h2>
            
            <div class="d-flex flex-wrap">
                {% for tag in tags %}
                <div class="chkbox">
                    <label>
                        <input type="checkbox" value="{{tag}}" name="chk[]"  class="hidden" autocomplete="off">
                        <span>{{tag}}</span>
                    </label>
                </div>
                {% endfor %}
            </div>
            
        </div>

        <div class="tab">
            <h2 style="font-family: Brush Script MT, Brush Script Std, cursive; text-align: center;">How many days you planned to spend?</h2>
            <input id="select_days" name="select_days" type="hidden"></input>
            <div class="d-flex"> 
                <span>Recommended:</span>
                <button type="button" class="btn select_days">3D2N</button>
                <button type="button" class="btn select_days">4D3N</button>
            </div>
        </div>

        <div class="tab">
            <h2 style="font-family: Brush Script MT, Brush Script Std, cursive; text-align: center;">How will you travel to Langkawi?</h2>
            <input name="transport" type="hidden"></input>
            <div class="row"> 
                <button type="button" class="btn">Ferry</button>
                <button type="button" class="btn">Flight</button>
                <button type="button" class="btn">Not sure yet</button>
            </div>
        </div>
        

<!--         <div class="tab">
            <h2 style="font-family: Brush Script MT, Brush Script Std, cursive; text-align: center;">What is your budget range (per person)?</h2>
            <div class="d-flex flex-wrap">
                <div class="chkbox">
                    <label>
                        <input type="radio" value="1000-1500" name="budget" class="hidden" autocomplete="off">
                        <span>1000-1500</span>
                    </label>
                </div>
                <div class="chkbox">
                    <label>
                        <input type="radio" value="1500-2000" name="budget" class="hidden" autocomplete="off">
                        <span>1500-2000</span>
                    </label>
                </div>
            </div>
        </div> -->

        <!-- progress button -->
        <div style="overflow:auto;">
            <div style="float:right;">
            <button type="button" id="prevBtn" class="btn" onclick="nextPrev(-1)">Previous</button>
            <button type="button" id="nextBtn" class="btn" onclick="nextPrev(1)">Next</button>
            </div>
        </div>

        
        <!-- Circles which indicates the steps of the form: -->
        <div style="text-align:center;margin-top:40px;">
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
        </div>
    </form>
</div>

{% endblock %}
