{% extends "FP/layout.html" %}

{% block body %}
<div class="ui_header">
    <h1>{% block heading %}{% endblock %}</h1>
</div>

<div class="ui_body">
    {% block content %}
    {% endblock %}
</div>

<div class="ui_footer">
    <div >
        <div class="col ppimgs" style="display:none;"><a href="{% url 'what-to-wear' %}">What to wear?</a></div>
        <div class="col ppimgs" style="display:none;"><a href="{% url 'transport' %}">How to get around?</a></div>
        <div class="col ppimgs" style="display:none;"><a href="{% url 'cash_or_card' %}">Cash or card</a></div>
        <div class="col ppimgs" style="display:none;"><a href="{% url 'language' %}">Language</a></div>
    </div>
</div>

{% endblock %}
