{% extends "FP/useful_info.html" %}

{% block heading %}
CASH OR CARDS
{% endblock %}


{% block content %}
<div class="ui_cont" id="cash-or-card">
    <p>In Malaysia, both cash and card payments are widely accepted, but here are some tips to navigate your options:</p>
<ol>


<li><strong>Cash:</strong> It's always good to have some Malaysian Ringgit (MYR) in cash, especially for smaller purchases, street vendors, or places that may not accept cards. ATMs are readily available in cities and towns for withdrawing cash.</li>
<li><strong>Credit/Debit Cards:</strong> Major credit cards like Visa and MasterCard are widely accepted in hotels, restaurants, malls, and larger establishments. Some places may also accept UnionPay and American Express, but it's less common.</li>
<li><strong>Contactless Payments:</strong> Many merchants now accept contactless payments via cards or mobile wallets like Apple Pay, Samsung Pay, and Google Pay.

<li><strong>Currency Exchange:</strong> Exchange rates can vary, so it's advisable to compare rates at different outlets or use ATMs to withdraw MYR directly from your bank account.</li>
<li><strong>Tips:</strong> Always inform your bank before traveling to avoid card issues abroad, and keep an eye on your transactions for security.</li>

</ol>

<p>Ultimately, having a mix of cash and card options ensures you're prepared for different situations during your travels in Malaysia.</p>
</div>
{% endblock %}
