{% extends "FP/useful_info.html" %}

{% block heading %}
DO I NEED TO TIPS?
{% endblock %}


{% block content %}
<div class="ui_cont" id="tips">
  No worries about tipping in Malaysia! Tipping in Malaysia is generally considered a gesture of appreciation rather than an obligation. 
  Malaysians are pretty chill about it. If you're feeling generous or had a stellar experience, go ahead and show some love with a tip. 
  But if you're low on cash or just not feeling it, no one's going to throw you side-eye. 
  Just remember to smile and say <strong>"terima kasih"</strong> <i>(thank you)</i> – that's the universal currency of gratitude here!
</div>
{% endblock %}
