{% extends "FP/useful_info.html" %}

{% block heading %}
LANGUAGE
{% endblock %}


{% block content %}
<div class="ui_cont" id="language">
    <p>
        While it's not strictly necessary to speak Malay (Bahasa Malaysia) when traveling to Malaysia, knowing some basic phrases can greatly enhance your experience and interactions with locals. 
    </p>
    <p>
        Many Malaysians, especially in urban areas and tourist spots, can communicate in English to some extent. 
        Moreover, signboards, menus, and other travel-related materials are often available in English, making navigation and dining easier for international visitors. 
        <p>
        Learning basic greetings like <strong>'selamat pagi'</strong> (<i>good morning</i>), <strong>'terima kasih'</strong> (<i>thank you</i>), and <strong>'sila'</strong> (<i>please</i>), along with simple phrases such as <strong>'makan'</strong> (<i>eat</i>),<strong>'tandas'</strong> (<i>toilet</i>), <strong>'berapa'</strong> (<i>how much</i>), and <strong>'sedap'</strong> (<i>delicious</i>), can still be very helpful. 
        </p>
        <p>
            It not only shows respect for the local culture but also ensures smoother and more enjoyable travels. 
            Malaysians generally appreciate visitors who make an effort to speak their language, even if it's just a few words. 
        </p>
        <p>
            Additionally, knowing some Malay can further facilitate your understanding of local customs and enhance your ability to navigate signs, menus, and transportation effectively. 
        </p>
    </p>
    <p>Overall, while English is widely used, especially in tourist areas, a basic knowledge of Malay can certainly enrich your experience in Malaysia.</p>
</div>
{% endblock %}
