{% extends "FP/useful_info.html" %}

{% block heading %}
TRANSPORT
{% endblock %}


{% block content %}
<div class="ui_cont">
    <h4> How to get around in Malaysia </h4>
<p>
Getting around Malaysia offers several transportation options, each with its own considerations:
</p>
<ol>

<li><strong><a href="https://play.google.com/store/apps/details?id=com.grabtaxi.passenger&hl=en&pli=1">Grab:</a></strong> Grab is widely used in all cities. You can pay with cash or via the app. It's convenient for short trips within cities.</li>
<li><strong>Bus:</strong> Buses are common for intercity travel, but it's best to avoid them during major holidays like Hari Raya, Chinese New Year (CNY), and Deepavali due to increased congestion and potential delays. Do expect delays. Tickets can be purchased at terminals or online. The most common website to purchase bus ticket are <a href="https://www.busonlineticket.com/booking/bus-tickets.aspx">BusTicketOnline</a> and <a href="https://www.easybook.com/en-my/bus">Easybook.com</a>.</li>
<li><strong>Train:</strong> The <a href="https://online.ktmb.com.my/">Electric Train Service (ETS)</a> is ideal for traveling between major cities in Peninsular Malaysia like Kuala Lumpur, Penang, and Ipoh. Trains offer comfort and reliability, though schedules may vary.</li>
<li><strong>Flight:</strong> Domestic flights connect major cities and islands like Penang, Langkawi, and Kota Kinabalu. Airlines such as Malaysia Airlines, AirAsia, and Firefly provide frequent services.</li>
<li><strong>Rental Car/Motorcycle:</strong> Renting a vehicle is great for exploring remote areas. Drive on the left side of the road, adhere to speed limits (usually 120 km/h on highways), and avoid reckless driving.</li>
<li><strong>Hitchhiking:</strong> Not common in Malaysia.</li>
<li><strong>Navigation:</strong> Use Google Maps for real-time traffic updates and alternative routes, making it invaluable for navigating Malaysian roads and public transport.</li>
</ol>

<p>Plan ahead, especially during holidays, to ensure smooth travels and enjoy exploring Malaysia's diverse landscapes and cultures.</p>
</div>
{% endblock %}
