{% extends "FP/useful_info.html" %}

{% block heading %}
WHAT TO WEAR?
{% endblock %}


{% block content %}
<div class="ui_cont" id="what-to-wear">
    <p>When deciding what to wear in Malaysia, it's important to consider the hot and humid tropical climate, as well as the cultural norms and modesty expectations in certain settings. Here are some tips:</p>
    <ol>
        <li>
            <p><strong>Lightweight and Breathable Clothing</strong>: Opt for lightweight and loose-fitting clothing made from natural fibers like cotton or linen. This helps to keep you cool and comfortable in the heat.</p>
        </li>
        <li>
            <p><strong>Respectful Attire for Religious Sites</strong>: When visiting mosques or temples, both men and women should dress modestly. Women may be required to cover their heads and shoulders, and all visitors should remove their shoes before entering.</p>
        </li>
        <li>
            <p><strong>Footwear</strong>: Comfortable sandals or lightweight shoes are ideal due to the hot weather. Sneakers or closed shoes might be necessary for more rugged activities or trekking.</p>
        </li>
        <li>
            <p><strong>Rain Gear</strong>: Malaysia experiences tropical showers, especially during the monsoon seasons. Carrying a small umbrella or a lightweight raincoat can be helpful.</p>
        </li>
        <li>
            <p><strong>Swimwear</strong>: It's appropriate to wear swimwear at beaches and swimming pools. However, cover-ups are recommended when you're not in the water.</p>
        </li>
        <li>
            <p><strong>Urban vs. Rural Areas</strong>: Urban areas like Kuala Lumpur are more cosmopolitan, so you'll see a range of styles. In rural areas or smaller towns, dressing more conservatively is advisable.</p>
        </li>
        <li>
            <p><strong>Cooler Highlands</strong>: If you plan to visit cooler places like Cameron Highlands or Kundasang, bring along a light jacket or sweater. These highland areas have milder temperatures, especially in the evenings and mornings.</p>
        </li>
        <li>
            <p><strong>Cultural Sensitivity</strong>: Malaysians generally appreciate when visitors respect local customs and dress appropriately. Being mindful of local norms shows cultural sensitivity.</p>
        </li>
    </ol>
    <p>By following these guidelines, you can ensure you're comfortable and respectful while exploring the diverse sights and experiences Malaysia has to offer.</p>
</div>
{% endblock %}
